<!DOCTYPE html>
<html>
  <head>
    <%- include('./layout/head') %>
  </head>
  <body>
    <%- include('./layout/header') %>
    <main>
    <h2>Tasks for <%= user.username %></h2>
    <section class="task-view container">
      <ul>
        <% tasks.forEach(task => { %>
          <li class="task-item">
            <h4>Task: <%= task.title %></h4>
            <h5>User: <%= task.username %></h5>
            <p>Completion status: <%= task.status %></p>
            <a href="/tasks/<%= task.id %>">View Details</a>
          </li>
        <% }) %>
      </ul>
    </section>
    </main>
  </body>
</html>
